:root {
  --primary-btn-color: #dd5765;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(235, 235, 235);
  font-family: 'Poppins', sans-serif;
}
ol,
ul {
  list-style: none;
}
/* Common */
.clearfix-lg{
  width: 100%;
  content: '';
}
.pd-bt-0{
  padding-bottom: 0;
}
.bolder{
  font-weight: bolder;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}


a {
  color: black;
  text-decoration: none;
}

.color-white{
  color: white !important;
}
.primary-btn {
  padding: .5rem 1rem;
  background: var(--primary-btn-color);
  border-radius: 5px;
}
.primary-btn-2{
  padding: .5rem 1rem;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid #eee;
  font-weight: 600;
}
.primary-btn-2 > a{
  color: #dd5765 !important;
}
.primary-btn-2:hover{
  background-color: #dd5765;
}
.primary-btn-2:hover a{
  color: rgb(255, 255, 255) !important;
}
/* Common */
/* Header */
#mobileMenu{
  display: none;
}
#header{
    height:4em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: white;
}
.header-logo {
  line-height: 2.5;
  font-size: 1.5em;
}
.header-logo i,
.label-one {
  color: var(--primary-btn-color);
  font-weight: 700;
}
.header-logo .label-one > .label-two {
  font-weight: 700;
  color: cornflowerblue;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    padding-top: .5em;
}
.nav-bar > li {
  display: inline-block;
  position: relative;
  line-height:3;
}
.nav-bar > li > a {
  display: block;
  color: black;
  font-weight: 500;
  padding: 0em 1.5em;
}
.nav-bar > li > a:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 10%;
  background-color: #dd5765;
  left: auto;
  right: 0;
  bottom: 0;
  transition: 0.25s;
}
.nav-bar > li > a:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}
.nav-bar li:hover .subnav{
  display: block;
}
.nav-bar li .primary-btn:hover{
  background: var(--primary-btn-color) !important;
  border:1px;
}
.nav-bar li > .primary-btn:hover >a{
  color: white !important;
}

.nav-bar  .subnav {
  color: black;
  position: absolute;
  padding: 0rem 0.5rem;
  display: none;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  border: 1px solid gray;
  border-radius:5px;
  box-shadow: 0px 1px 5px rgb(255, 106, 106);
}
.subnav> li{
  padding: .2rem 0rem;
  text-align: left;
  border-bottom: 1px solid rgb(255, 163, 163);
}

.subnav > li:last-child{
  border-bottom: none;
}
.subnav a {
  padding-left: 1rem;
}

/* .nav-bar .primary-btn a:hover,
.content-btn .primary-btn a:hover
{
  color: rgb(255, 255, 255);
} */
.nav-bar > li .primary-btn{
  line-height: 1.5;
}
/* Header */
/* Banner */
.primary-btn:hover{
  background-color: #ffffff !important;
}
.primary-btn:hover a{
  color: var(--primary-btn-color) !important;
}
#banner {
  margin-top: 4em;
  padding-top:6em;
  padding-bottom: 6em;
  background-image: linear-gradient(60deg, rgb(49 121 255 / 70%),rgb(255 0 94 / 70%)),
url(../img/istockphoto-490428980-1024x1024.jpg);
  background-position: top center;
  background-repeat: repeat-x;
}

.banner__heading > h1{
  font-weight: bolder;
  color:white;
}
.banner__btn{
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.banner__btn .primary-btn{
  padding: 1em 1em;
}
.banner__keyword{
   background: #7361fc;
   border-radius: .5rem;
   margin: auto;
   margin-top: 1.5em;
   display: flex;
   align-items: stretch;
   flex-direction: column;
}
.keyword__btn{
  display: flex;
  gap: 1.5em;
  padding-top: 2em;
}
.keyword__btn > li{
  background-color: #fff;
  border-radius: 5px;
  padding: .8em .8em;
}
.keyword__trending {
  padding: 0em 0em 1em 1.5em;
}
.keyword__trending span:first-child{
  padding: 0em .5em;
  color: rgb(223, 223, 223);
}
.keyword__trending > span{
  padding-left: 1.5em;
  color: white;
}
.keyword__btn i{
  min-width: 1em;
}
/* Banner */

/* Category */
.contentOne{
  padding: 3em 0em;
}
.content__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.category__listItems{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.category__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1.5em 1em;
  font-size: 1.5em;
}
.category__item > i{
  font-size:2.5em;
}
/* Category */
/* About */
#about {
  padding: 4em 0em;
  color: white;
  background: url('https://i.pinimg.com/originals/06/26/8b/06268b10ac8a5e6fb2d587c783f8e096.jpg') top center / cover no-repeat;
}
.about__desc{
  padding-top:2.5em;
}
.about__checkIcon{
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  gap: 1em;
  padding: 2.5em 0em;
}
.checkIcon{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.checkIcon--icon-1 i{
  background-color: #7361fc;
}
.checkIcon--icon-2 i{
  background-color: #fd2020d0;
}
.checkIcon--icon-3 i{
  background-color: #00bd48;
}
.checkIcon__icon i{
  padding: .5rem;
  border-radius: 5px;
}
#about > .container > .row {
  gap: .5rem;
  padding: 4em 0em;
}
/* About */
/* Location */
.location__item{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.location__img{
  border-radius: 10px;
  border:none;
  width: 100%;
  height: auto;
  min-height: 20rem;
}
.location__img--image1{
  background: url('../img/los angeles.jpg') center center / cover no-repeat;
}
.location__img--image2{
  background: url('../img/170606120957-california-travel-destination-shutterstock-220315747.jpg') center center / cover no-repeat;
}
.location__img--image3{
  background: url('../img/viet-ve-new-york.jpg') center center / cover no-repeat;
}
.location__place {
  background-color: #fff;
  padding: 2em 1em 1em 1.5em;
  border-radius: 10px;
  position: relative;
  z-index: -1;
  top: -3%;
}

.location__place i,
.location__place span{
  color: #381eff;
  font-weight: bold;
  font-size: 1.2em;
}
.location__place p {
  color: rgb(148, 148, 148);
  font-weight: 600;
}
/* Location */

/* Banner-2 */
#banner-Two{
  width: 100%;
  height: 30em;
  position: relative;
  background: url('https://images.pexels.com/photos/1422292/pexels-photo-1422292.jpeg')center center / cover no-repeat;
}
.banner2__content {
  bottom: 0;
  right: 16%;
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4em;
  color: whitesmoke;
  border-radius: 10px;
  background-color: #381eff;
  padding: 2em 2em 1em 2em;
}
.banner2__icon{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.banner2__icon span,
.banner2__icon i{
  font-size: 2em;
  font-weight: bolder;
}
.banner2__desc > p{
  font-size: 1em;
}
/* Banner-2 */
/* ADS Items */
.ads__item{
  width: 23%;
  background-color: #fff;
  padding: 1.5em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.ads__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #eee;
  padding-bottom:.2em;
  position: relative;
}
.ads__name:after {
  content: "";
  width: 25%;
  background-color: #dd5765;
  height: 4px;
  position: absolute;
  top: 100%;
}
.ads__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ads__option p:first-child{
  color:#381eff;
  font-weight: bolder;
}
.ads__name i,
.ads__price span:last-child{
  color: rgb(163, 163, 163);
}
.ads__price span:first-child{
  color: var(--primary-btn-color);
  font-weight:bolder;
  font-size:1.2rem;
}
/* ADS Items */
/* Content - 2 */
.contentTwo{
  padding: 3em 0em;
}
.content__two--heading{
  padding: 2em 0em;
}
.content__two--heading h1{
  font-weight: bold;
  text-align: center;
}
.classified__item{
  width: 31%;
  display:flex;
  padding: 1.5rem;
  gap: 1.5em;
  background:rgb(255, 255, 255);
  border-radius: 10px;
}
.classified__listItem .w-100{
  margin-top: 2em;
}
.classified__icon i{
  color: #ff4356;
  font-size: 2.5em;
}
.classified__desc h4,
.classified__desc p{
  text-transform: capitalize;
  font-weight: 600;
}
.classified__desc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 0.5em;
}
.classified__desc span{
  color: rgb(133, 133, 133);
}
/* Content - 2 */
/* Content-3 */
.listsell__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  flex-wrap: nowrap;
  gap: 1em;
}
.listsell__item--center{
  background-color: var(--primary-btn-color);
  padding: 5em 6em;
  color: rgb(255, 255, 255);
  box-shadow: 0px 15px 20px rgb(134, 134, 134);
}
.listsell__item--small{
  margin: 3em 0em;
  color: rgb(143, 143, 143);
  background-color: white;
  padding: 2em 6em;
}

.listsell__heading h3{
  color: var(--primary-btn-color);
  font-weight: bolder;
}

.listsell__icon > i{
  color: #1f5bff;
  font-size: 3em;
}

.listsell__price{
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}
.listsell__item .primary-btn:hover{
  background-color: #ff8282 !important;
  transform: translateY(-15%);
  transition: .2s ease-out;
}
.listsell__item .primary-btn:hover span{
  color: rgb(255, 255, 255);
}
/* Content-3 */
/* Content-4 */
.listblog__img{
  min-height: 18em;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  z-index: 1;
}
.listblog__img--one{
  background: url('../img/powerpoint-chen-anh.jpg')
  center center / cover no-repeat;
}
.listblog__img--two{
  background: url('../img/stock-photo-aerial-view-of-computer-laptop-on-wooden-table-30962.jpg')
  center center / cover no-repeat;
}

.listblog__img--three{
  background: url('../img/5d509ba6ec66b657a915b7717604-1437649.jpg!d')
  center center / cover no-repeat;
}
.listblog__desc {
  background: #fff;
  border-radius: 10px;
  padding: 2.5em 1em 1.5em 1.5em;
  position: relative;
  top: -5%;
  z-index: -1;
}
.listblog__desc p {
  color: #1f5bff;
  font-weight: bolder;
}
.listblog__info span{
  color: #a8a8a8;
  padding-right: 1.5em;
  font-weight: 600;
}
.btn-center{
  text-align: center;
  transform:translateY(1.5em);
  padding-bottom: 4em;
}
/* Content-4 */
/* Content */
/* Subscribe */
#subscribe{
  background: rgb(255, 255, 255);
  padding: 3em 0em;
}
#subscribe .input-form{
  position: relative;
}
#subscribe .input-form > i{
  position: absolute;
  left: 3%;
  top: 30%;
  color: rgb(134, 134, 134);
  font-size: 1.5rem;
}
#subscribe .form-control{
  padding: 1em 3em;
  border-radius: 5px;
} 
#subscribe input[type="submit"]{
  color: white;
  background-color: var(--primary-btn-color);
}
#subscribe input[type="submit"]:hover{
  color: #ffffff;
  background: rgb(0, 0, 0);
}
/* Subscribe */
/* Footer */
.ft__list{
  padding: 4em 0em;
  position: relative;
}
.ft__list ul{
  padding: 0;
  margin-top: 1rem;
}
.ft__heading{
  font-weight: 900;
  font-size: 1.5rem;
}
.ft__heading::after{
  content: "";
  height: 2px;
  width:30%;
  background:#dd5765;
  position:absolute;
  left: 0;
  top: 30%;
}
.ft__content{
  padding: .3rem 0rem;
}
.ft__link{
  font-weight: 600;
  font-size:1rem;
  color: #7c7272;
}
.ft__link:hover{
  color: var(--primary-btn-color);
}

.footer__bottom{
  padding: 1rem 0rem;
  background-color:#381eff;
}
.ft__copyright{
  padding: 0em;
}
.ft__listPaymentMenthod {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.icon__menthod{
  margin-left: .5rem;
  width: 40px;
  height: 25px;
  background-color:white !important;
  border-radius: 5px;
}
.visa{
  background: url('../img/visa.png') center center / cover no-repeat;
}
.card{
  border:0;
  background: url('../img/credit-card.png')center center / cover no-repeat;
}
.paypal{
  background: url('../img/paypal.png') center center / cover no-repeat;
}
.mastercard{
  background: url('../img/maestro.png') center center / cover no-repeat;
}
.mastercard{
  background-color: #381eff !important; 
}
/* Footer */
