/* Tablet and Mobile */
@media only screen and (max-width: 1023px) {
  #dropdown-menu {
    padding-right: 0;
  }
  #mobileMenu {
    display: inline-block;
    position: absolute;
    font-size: 2.5rem;
    margin-left: 20px;
  }
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3em;
  }
  #header {
    overflow: hidden;
    height: 60px;
  }
  .nav-bar {
    padding-top: 5px;
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-bar .subnav {
    display: none;
    position: static;
    border: none;
  }
  .nav-bar > li > a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
  }
  .nav-bar > li .primary-btn {
    margin-right: 1.5em;
  }
  .banner--one {
    margin-top: 0px;
    padding-bottom: 3em;
  }
  /* .banner__btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } */
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  #mobileMenu {
    left: 87% !important;
  }
  #header {
    height: 60px;
    overflow: hidden;
  }
  #header > .container {
    float: left;
  }
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-bar {
    margin-right: -2em;
    font-size: 1.3rem;
  }
  .nav-bar .subnav {
    display: none;
    position: static;
    background: rgb(255, 224, 224);
  }
  .subnav li{
    text-align: right;
  }
  .nav-bar > li > a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2%;
    background-color: #dd5765;
    left: auto;
    right: 0;
    bottom: 0;
    transition: 0.25s;
  }
  .subnav a {
    padding: 0rem 1rem;
  }
  .nav-bar > li .primary-btn {
    margin-right: 1.5em;
  }
  .banner__btn {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
  }
  .banner__keyword {
    margin-top: 1em;
    flex-flow: column-reverse;
  }
  .keyword__btn {
    flex-direction: column;
    padding: 1.5em;
    margin-bottom: 0;
  }
  .keyword__trending {
    padding: 1em 0em 0em 0em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .keyword__trending > span {
    padding-left: 0.5rem;
  }
  .category__item {
    font-size: 0.8em;
  }
  .category__item i {
    font-size: 3em;
  }

  .keyword__btn i{
    min-width: 1.5em;
  }
  #location {
    padding: 1.5em 0em;
  }
  .location__item:first-child{
    margin-top: 0 !important;
}
  .location__place{
  padding: 2em 0em 1em 2em;
}

.banner2__content {
  bottom: 7%;
  width: 90%;
  right: 5%;
  left: 5%;
  padding: 1em 0em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0;
}
.contentOne{
  padding: 2rem 0rem;
}
.contentTwo{
  padding: 2rem 0rem;
}
.content__two--heading{
  padding: 1rem 0rem;
}
.content__section{
  padding: 0;
}
.ads__item{
  width: 45%;
  flex-wrap: wrap;
  margin-top: 2em;
  font-size: 1.2rem;
}
.classified__item {
  width: 100%;
  align-items:center;
  padding: 2rem;
}
.classified__listItem{
  row-gap: 2rem;
  font-size:1.2rem;
}
.classified__listItem .w-100 {
  margin-top: 0em;
}
.listsell__content{
  font-size:1.2rem;
}
.listsell__item--small {
  margin: 1.5em 0em;
  padding: 2em 2em;
}
.listsell__item--center{
  padding: 2rem;
}
.listblog__post{
  font-size: 1.2rem;
}
.btn-center {
  transform: translateY(0.5em);
  padding-bottom: 2em;
}
#subscribe .row{
  row-gap: 1em;
}
.footer__top > .row{
  flex-direction: row;
}
.ft__heading{
  font-size:1.3rem;
}
.ft__list{
  padding: 2rem 0rem;
}
.ft__heading::after {
  top: 22%;
}
}

/* Mobile */
@media only screen and (max-width: 739px) {
  #mobileMenu {
    left: 80%;
  }
  #banner{
    margin-top: 3.5em;
  padding-top:3em;
  padding-bottom: 3em;
  }
  .banner__btn {
    display: flex;
    justify-content: space-evenly;
  }
  .banner__keyword {
    flex-direction: column-reverse;
  }
  .keyword__trending {
    padding: 1em 2em 0em 1.5em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .keyword__btn {
    padding-right: 2em;
    padding-top: 1em;
    margin-bottom: 1.5rem;
    flex-flow: column wrap;
    gap: 1em;
  }

  #category {
    padding-bottom: 1em;
  }
  .category__listItems {
    display: inline-flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 0;
  }
  .clearfix-lg {
    width: 0%;
  }
  .category__item {
    border: 1px solid darkcyan;
    font-size: 1em;
    padding: 1em;
  }
  .category__item > i {
    font-size: 3em;
  }

  #about {
    padding: 2em 0em;
    color: white;
    background: url("https://i.pinimg.com/originals/06/26/8b/06268b10ac8a5e6fb2d587c783f8e096.jpg")
      right center / cover no-repeat;
  }
  .about__btn {
    text-align: center;
  }
  #location{
    padding: 0;
  }
  .location__item:first-child{
      margin-top: 0 !important;
  }
  .location__place{
      padding: 2em 0em .8em 1.5em;
  }
  .banner2__content {
    width: 95%;
    right: 2.5%;
    bottom: 2%;
    flex-flow: column wrap;
    padding: 1em 0 0 0;
}
  .banner2__icon{
    justify-content:center;
    align-items: baseline;
  }
  .banner2__icon span,
  .banner2__icon i{
  font-size: 1.5em;
  font-weight: bolder;
}
  .banner2__desc > p{
    text-align: center !important;
  font-size: 1.2em;
}
.contentOne{
  padding: 1rem 0rem;
}
.contentTwo{
  padding: 1rem 0rem;
}
.content__two--heading{
  padding: .5rem 0rem;
}
.ads__list,
.classified__listItem,
.listsell__content{
  margin-left: .1rem;
  margin-right: .1rem;
  gap: 1em;
}
.ads__item{
  width: 100%;
}
.classified__item{
  width: 100%;
  align-items:center;
}
.classified__listItem .w-100 {
  margin-top: 0em;
}
.listsell__item--small {
  margin: 0em;
  padding: 1em;
}
.listsell__item--center {
  padding: 1em;
}
.btn-center {
  transform: translateY(.5em);
  padding-bottom: 1.5em;
}
#subscribe .row {
  gap: 1em;
}
.ft__topContent:first-child{
  padding-top: 1em;
}
.ft__topContent{
  display: inline-flex;
  margin: 0em;
}
.ft__list{
  padding: 0;
}
.ft__heading{
  font-size: 1.2rem;
}
.ft__heading::after{
  top: 15%;
}
.ft__copyright{
  padding:1em;
}
.ft__listPaymentMenthod {
  justify-content: flex-start;
}
.footer__bottom {
  padding-top: 0rem;
}
}
